<div class = "block">
  <a href="/topics" class="btn btn-primary" style="position: absolute; right: 30px; margin: 20px; height: 60px; width: 100px; font-size: 30px">Back</a>
  <div class = "postThreadTitle"><%= @topic.name %></div>
  <div class = "postThreadDes"><%= @topic.des %></div>
  <form id = "postForm" class = "formTemplate" method = 'post' action = '/post/create/<%= @topic.id %>'>
    <div class="form-group">
      <label for = "content">Post:</label>
      <textarea class="form-control" id="postContent" name="content" type = "text" rows = 5></textarea>
    </div>
    <input type='submit' value='Create New Post' class = 'btn btn-primary'>
  </form>

  <div class = "createNewPost">Create New Post</div>

  <div style = 'margin: 20px; background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; padding: 10px'>
    <% @posts.each do |post| %>
        <hr>
        <div class = "postUsername"><%= @u.username %></div>
        <div style="margin-left: 10px"><%= post.time.strftime('%I:%M,  %b %d, %Y') %></div>
        <a href="/thread/<%= @topic.id %>/post/<%= post.id %>/edit" class="btn btn-warning" style="margin: 10px">Edit</a><a href="/thread/<%= @topic.id %>/post/<%= post.id %>/delete" class = "btn btn-danger">Delete</a>
        <div style = "font-size: 16px; word-wrap: break-word;"><%= post.content %></div>
    <% end %>
  </div>
</div>
