<div class = block>
  <ul class="nav nav-tabs nav-justified" style = "font-size: 20px">
    <li role="presentation" class = ""><a href="/topics">All Threads</a></li>
    <li role="presentation" class = "active"><a href="/users">All Users</a></li>
    <li role="presentation" class = ""><a href="/signOut"><i class="fa fa-lg fa-sign-out"></i> Sign Out</a></li>
  </ul>
  <div class = "postThreadTitle">All Users</div>
  <div class = "seeYourOwn"><a href = "/users/<%= @u %>">See all of your own Posts</a></div>

  <form class="navbar-form navbar-left" method="post" action="/user/search" style = "margin: 20px">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search a User" name="username" style = "width: 400px">
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-lg fa-search"></i></button>
  </form>

  <table class = "table" style = "margin: 3.5%; width: 93%; background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; margin-bottom: 20px">
    <tr>
      <th style = "width: 250px">User Name</th>
      <th style = "width: 200px"># of Posts</th>
      <th style = "width: 300px">Date Joined</th>
      <th style = "width: 100px"></th>
    </tr>
    <% @users.each do |user| %>
        <tr>
          <td><div><%= user.username %></div></td>
          <% postForUser = Post.where(:user_id => user.id) %>
          <td><%= postForUser.count %></td>
          <td><%= user.date.strftime('%b %d, %Y')%></td>
          <td><a href = "/users/<%= user.id %>" class = "btn btn-success" style = "width: 400px">See Posts</a></td>
        </tr>
    <% end %>
  </table>
  <div>&nbsp&nbsp&nbsp</div>
</div>